@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400 !important;
}

.font-thin {
    font-weight: 100 !important;
}

.font-bold {
    font-weight: 500 !important;
}

.nav-link.active {
    border: 1px solid #0390C9;
    border-radius: 1000px;
    color: #0390C9 !important;
}

.hero {
    min-height: 50vh;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.2) 100%), url(../images/banner.png);
    background-size: cover;
}

.customPlaceHolder::placeholder {
    color: #75755D;
}

.forecast {
    max-height: 35vh;
}